
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/image.io
    username: postgres
    password: postgres
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
jwt:
  secret: imageio-api-jwt-secret-key-2026-super-secure

# Production
---
spring:
  config:
    activate:
      on-profile: production
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:5432/image.io
jwt:
  secret: ${JWT_SECRET}

